.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.ytimg.com/vi/IfzZAOU_0uQ/maxresdefault.jpg") center center/cover no-repeat
        fixed;
    min-height: 40vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .banner {
      min-height: 90vh;
    }
  }
  
  @media (max-width: 767px) {
    .banner {
      min-height: 100vh;
    }
  }